@charset "UTF-8";
/*  Global variables --- Глобальні змінні */
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --contact-link-color: rgba(255, 255, 255, 0.6);
  --wite-color: #ffffff;
  --black-color: #000000;
  /* background-color*/
  --primary-bg-color: #ffffff;
  --secondery-bg-color: #f5f4f4;
  --third-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
  --icon-bg: rgba(255, 255, 255, 0.1);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --bg-absolut-work:rgba(47, 48, 58, 0.8);
  --bg-absolut-exempel:rgba(33, 150, 243, 0.9);
  /* animation */
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* other */
  --icon-svg: #afb1b8;
  --border-color: #eeeeee;
  --modal-border:rgba(0, 0, 0, 0.1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  /* Grid */
}

/*end ---  Global variables --- Глобальні змінні ---   end */
/* hidden headers */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  /* margin: -1px; */
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

/*end --- hidden headers --- end */
/* reset some parameters*/
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/*end --- reset --- end*/
/**
  |cmmb============================
  |  global parameters --- глобальні параметри
  |============================
*/
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (max-width: 1199.98px) {
  .section__title {
    font-size: 28px;
    line-height: 1.17;
  }
} /*========================================
		main titles основні заголовки 
==========================================*/
.section_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*end  ---global parameters --- глобальні параметри ---- end */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/**
  |cmmb============================
  |      button
  |============================
*/
.button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--wite-color);
  background-color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 1199.98px) {
  .button {
    padding: 10px 24px;
  }
}

/**
  |cmmb============================
  |  social link  Посилання на соц. мережі
  |============================
*/
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--icon-svg);
  border-radius: 50%;
  -webkit-transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function);
  transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function);
}
.social__link:hover, .social__link__link:focus {
  background-color: var(--accent-text-color);
  color: var(--wite-color);
  /* outline: none; */
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*===============================
		--- social link in footer  ---
=================================*/
.social__wrap--footer {
  margin-left: 70px;
}
@media screen and (max-width: 1199.98px) {
  .social__wrap--footer {
    margin-left: 0;
  }
}

.social__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social__link--footer {
  color: var(--wite-color);
  background-color: var(--icon-bg);
}

/**
  |cmmb============================
  |  subscription  Form in foorer
  |============================
*/
.footer__form-wrap {
  margin-left: 93px;
  max-width: 570px;
  width: 100%;
}
@media screen and (max-width: 1199.98px) {
  .footer__form-wrap {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}
.subscription__label {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199.98px) {
  .subscription__label {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.subscription__input {
  padding: 15px;
  max-width: 450px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-bg-color);
  outline: transparent;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}
.subscription__input:focus {
  border-color: var(--accent-text-color);
}

.subscription__button {
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 0;
  fill: var(--primary-bg-color);
}
@media screen and (max-width: 1199.98px) {
  .subscription__button {
    margin-left: auto;
    margin-right: auto;
  }
}

/**
  |cmmb============================
  | logo 
  |============================
*/
.logo {
  display: inline-block;
  font-family: var(--secondary-font), cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: inherit;
  color: var(--black-color);
}
@media screen and (max-width: 1199.98px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
.logo__accent {
  color: var(--accent-text-color);
}
.logo__footer {
  margin-bottom: 20px;
  color: var(--wite-color);
}

.mobile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px;
  background-color: var(--primary-bg-color);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
}
.backdrop--hidden .mobile-menu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--accent-text-color);
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-menu-link:hover, .mobile-menu-link:focus {
  color: var(--accent-text-color);
}
.mobile-menu-link--active {
  color: var(--accent-text-color);
}

.mobile-menu-group {
  margin-bottom: 64px;
}

.contact__phone--mob {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
@media (max-width: 479px) {
  .contact__phone--mob {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}

.contact__email--mob {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.social__list--mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__link--mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-text-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.social__link--mob:hover, .social__link--mob__link:focus {
  color: var(--accent-text-color);
}

.social__item--mob {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}

.social__item--mob:last-child {
  border-right: 0;
}

/**
  |============================
  | modal -Модальне вікно
  |============================
*/
.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  -webkit-transition: opacity var(--timing-function);
  transition: opacity var(--timing-function);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 320px;
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

/*  Button to close the modal window ---  Кнопка закриття модального вікна */
.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: var(--black-color);
  background-color: var(--primary-bg-color);
  border: 1px solid var(--modal-border);
  border-radius: 50%;
}
.button-close__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.button-close:hover, .button-close:focus {
  color: var(--accent-text-color);
}

/* end ---  Button to close the modal window ---  Кнопка закриття модального вікна --- end */
/**
  |============================
  | register form 
  |============================
*/
.register__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.register__group {
  margin-bottom: 20px;
}

.register__label {
  font-size: 12px;
  text-align: start;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.register__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}

.register__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.register__wrap:not(:last-child) {
  margin-bottom: 10px;
}

.register__field {
  height: 40px;
  padding: 12px 42px;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}
.register__field:focus {
  border-color: var(--accent-text-color);
}
.register__field:focus + .register__icon {
  fill: var(--accent-text-color);
}

.register__message {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #303030;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}
.register__message:focus {
  border-color: var(--accent-text-color);
}
.register__message::-webkit-input-placeholder {
  color: var(--placeholder-color);
}
.register__message::-moz-placeholder {
  color: var(--placeholder-color);
}
.register__message:-ms-input-placeholder {
  color: var(--placeholder-color);
}
.register__message::-ms-input-placeholder {
  color: var(--placeholder-color);
}
.register__message::placeholder {
  color: var(--placeholder-color);
}

/* agreement with the terms of the contract --- погодження з умовами договору  */
.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.agreement__checkbox:focus + .agreement__icon {
  outline: 2px solid var(--accent-text-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.agreement__icon--uncheck {
  -webkit-transition: opacity var(--timing-function);
  transition: opacity var(--timing-function);
}

.agreement__checkbox:checked + .agreement__icon > .agreement__icon--uncheck {
  opacity: 0;
}

.agreement__icon--check {
  opacity: 0;
  fill: var(--accent-text-color);
  -webkit-transition: opacity var(--timing-function);
  transition: opacity var(--timing-function);
}

.agreement__checkbox:checked + .agreement__icon > .agreement__icon--check {
  opacity: 1;
}

.agreement__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 1199.98px) {
  .agreement__text {
    font-size: 12px;
    line-height: 1.16;
  }
}

.agreement__link {
  color: var(--accent-text-color);
  text-decoration: underline;
  text-underline-position: under;
}

.agreement__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  padding-left: 52px;
  padding-right: 52px;
  margin-left: auto;
  margin-right: auto;
}

/* end --- agreement with the terms of the contract --- погодження з умовами договору --- end  */
/**
  |============================
  | 			Header 
  |============================
*/
.header {
  background-color: var(--wite-color);
  border-bottom: 1px solid var(--border-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* end --- Header --- end*/
/**
  |cmmb============================
  |  main navigation         Links to other pages or sections of the current page
  |============================
*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

/* .nav__list .nav__link  */
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: inherit;
  color: var(--title-text-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.nav__link::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--timing-function);
  transition: opacity var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}
.nav__link:hover::before {
  opacity: 1;
}
.nav__link--active {
  color: var(--accent-text-color);
}
.nav__link--active::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  opacity: 1;
}

/**
  |cmmb============================
  | contact ( email and phone )
  |============================
*/
.contact {
  margin-left: auto;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767.98px) {
  .contact__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.contact__list .contact__item + .contact__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__list .contact__item + .contact__item {
    margin-left: 0;
  }
}

.contact__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: inherit;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  -webkit-transition: color var(--timing-function), fill var(--timing-function);
  transition: color var(--timing-function), fill var(--timing-function);
}
@media screen and (max-width: 1199.98px) {
  .contact__data {
    font-size: 12px;
    line-height: 1.16;
  }
}
.contact__data:hover, .contact__data:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.contact__email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
@media screen and (max-width: 1199.98px) {
  .contact__email-icon {
    width: 14px;
    height: 10px;
  }
}

.contact__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
@media screen and (max-width: 1199.98px) {
  .contact__phone-icon {
    width: 10px;
    height: 14px;
  }
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--wite-color);
}

.contact__list--footer {
  display: block;
}

.contact__data--footer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin-bottom: 9px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--contact-link-color);
}

/*=====================
		HERO 
======================*/
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  text-align: center;
  background-color: var(--accent-bg-color);
}
.hero__overlay {
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg@1x_mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg@1x_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg@2x_mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg@2x_mob.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg@1x_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg@1x_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg@2x_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg@2x_tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg@1x_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg@1x_tab.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_bg@2x_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg@2x_tab.jpg);
  }
}
.hero__title {
  max-width: 694px;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}
@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (max-width: 1199.98px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

/*==============================================
		feature (peculiarities) - Особливості
================================================*/
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1199.98px) {
  .feature__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .feature__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}
.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-bg-color);
}
.feature__icon {
  width: 70px;
  height: 70px;
}
.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}
.feature__description {
  margin-top: 0;
  margin-bottom: 0;
}

/**
  |cmmb============================
  |  about --- What are we doing - Чим ми займаємося
  |============================
*/
.about {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 1199.98px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 0;
  }
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__wrap {
  position: relative;
}
.about__label {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background: var(--bg-absolut-about);
}
.about__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
}

/*===============================
		Our team - Наша команда
=================================*/
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-top: 60;
  background-color: var(--secondery-bg-color);
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__member {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .team__member {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__member {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    width: 270px;
  }
}
.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--title-text-color);
}
.team__profession {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

/*===============================
		Regular clients
=================================*/
.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.client__link {
  width: 210px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  fill: var(--icon-svg);
  border: 1px solid var(--icon-svg);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function), border var(--timing-function);
  transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function), border var(--timing-function);
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-text-color);
  border: 2px solid var(--accent-text-color);
  outline: transparent;
}
.client__icon {
  width: 106px;
  height: 60px;
}

/*===============================
		Footer 
=================================*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}
@media screen and (max-width: 1199.98px) {
  .footer {
    text-align: center;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 1199.98px) {
  .footer__container {
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer__wrap {
    text-align: center;
  }
}
.footer__title {
  color: var(--wite-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

/*===============================
		Portfolio
=================================*/
/* <!-- filter  фільтрація по прикладам робіт--> */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 65px;
  gap: 8px;
}
@media screen and (max-width: 767.98px) {
  .filter {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__button {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: var(--secondery-bg-color);
  border: 0;
  border-radius: 4px;
  -webkit-transition: color var(--timing-function), background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}
.filter__button:hover, .filter__button:focus {
  color: var(--wite-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button--active {
  color: var(--wite-color);
  background-color: var(--accent-text-color);
}

/* <!-- end -- filter  фільтрація по прикладам робіт -- end--> */
/* <!-- example Приклади робіт --> */
.example__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .example__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .example__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .example__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .example__item {
    width: 370px;
  }
}

.example__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--timing-function);
  transition: -webkit-box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}
.example__link:hover, .example__link:focus {
  outline: transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example__note {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.example__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.example__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
}

.example__link:hover .example__ticket,
.example__link:focus .example__ticket {
  outline: transparent;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.example__wrap {
  position: relative;
  overflow: hidden;
}

.example__ticket {
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: var(--bg-absolut-exempel);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
}

.example__comment {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.example__ticket .example__comment {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--wite-color);
}
@media (max-width: 479px) {
  .example__ticket .example__comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

/* <!--end --- example Приклади робіт--- end --> *//*# sourceMappingURL=main.css.map */