/* reset some parameters*/

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
	text-decoration: none;
	color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}

/*  Глобальні параметри */
:root {
	/* color */
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--contact-link-color: rgba(255, 255, 255, 0.6);
	--wite-color: #ffffff;
	--black-color: #000000;

	/* background-color*/
	--primary-bg-color: #ffffff;
	--secondery-bg-color: #f5f4f4;
	--third-bg-color : #f5f4fa;
	--accent-bg-color: #2f303a;
	--icon-bg: rgba(255, 255, 255, 0.1);
	--modal-bg: rgba(0, 0, 0, 0.2);
	--bg-absolut-work:rgba(47, 48, 58, 0.8);
	--bg-absolut-exempel:rgba(33, 150, 243, 0.9);

	/* animation */
	--timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	/* other */
	--icon-svg: #afb1b8;
	--border-color: #eeeeee;
	--modal-border:rgba(0, 0, 0, 0.1);
	--placeholder-color: rgba(117, 117, 117, 0.5);;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.about {
	padding-top: 0;
}

/* hidden headers */
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	/* margin: -1px; */
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
}

/**
  |============================
  | 			Header 
  |============================
*/



.header {
	background-color: var(--wite-color);
	border-bottom: 1px solid var(--border-color);
}

.header__container {
	display: flex;
	align-items: center;
}



/**
  |cmmb============================
  | logo 
  |============================
*/

.logo {
	display: inline-block;

	font-family: "Raleway", cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: inherit;

	color: var(--black-color);
}

.logo__accent {
	color: var(--accent-text-color);
}

.logo__footer {
	margin-bottom: 20px;

	color: var(--wite-color);
}

/**
  |cmmb============================
  |  main navigation         Links to other pages or sections of the current page
  |============================
*/

.nav {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	margin-left: 93px;
}

.nav__list .nav__item + .nav__item{
	margin-left: 50px;
}

/* .nav__list .nav__link  */

.nav__link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: inherit;

	color: var(--title-text-color);

	transition: color var(--timing-function);
}

.nav__link::before {
	display: inline-block;
	position: absolute;
	bottom: 0;
 	content: "";
	width: 100%;
	height: 4px;

	background-color: var(--accent-text-color);
	border-radius: 2px;
	opacity: 0;

	transition: opacity var(--timing-function);

}
.nav__link:hover,
.nav__link:focus {
	color: var(--accent-text-color);
}

.nav__link:hover::before {
	opacity: 1;

}
/* 
.nav__link--visit:visited {
	color: var(--accent-text-color);
} */

.nav__link--active {
	color: var(--accent-text-color);
}

.nav__link--active::before{
	display: inline-block;
	position: absolute;
	bottom: 0;
 	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--accent-text-color);
	border-radius: 2px;
	opacity: 1;
}

/**
  |cmmb============================
  | contact ( email and phone )
  |============================
*/

.contact {
	margin-left: auto;
}

.contact__list {
	display: flex;
	font-weight: 500;
	letter-spacing: 0.02em;
}



.contact__list .contact__item + .contact__item{
	margin-left: 50px;
}


.contact__email,
.contact__phone{
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 24px;
	padding-bottom: 24px;
	

	text-decoration: inherit;

	fill: var(--primary-text-color);
	color: var(--primary-text-color);


	transition: color var(--timing-function), fill var(--timing-function);

}

.contact__email:hover,
.contact__email:focus,
.contact__phone:hover,
.contact__phone:focus {
	color: var(--accent-text-color);
	fill: var(--accent-text-color);
}

.contact__email-icon{
	width: 16px;
	height: 12px;
	margin-right: 10px;
}

.contact__phone-icon{
	width: 10px;
	height: 16px;
	margin-right: 10px;
}

/*=====================
		HERO 
======================*/
.hero {
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;

	
	text-align: center;

	background-color: var(--accent-bg-color);

}

.hero__overlay {
	max-width: 1600px;
	height: 600px;


	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/img-017-hiro.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;


}

.hero__title {
	width: 694px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: var(--wite-color);

}

/**
  |cmmb============================
  |      button
  |============================
*/
.button {
	padding: 10px 32px;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;

	color: var(--wite-color);
	background-color: var(--accent-text-color);
	border: 1px solid var(--accent-text-color);
	border-radius: 4px;
	cursor: pointer;
}

/*========================================
		main titles основні заголовки 
==========================================*/

.section__title {
	margin-top: 0;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
	text-align: center;

	color: var(--title-text-color);

}


.section__list {
	display: flex;
	justify-content: space-between;
}


/*==============================================
		feature (peculiarities) - Особливості
================================================*/

.feature {
	width: 300px;
}

.feature__wrap {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

	width: 270px;
	height: 120px;
	margin-bottom: 30px;

	background-color: var(--third-bg-color);
}

.feature__icon  {
	width: 70px;
	height: 70px;
}

.feature__title {
	margin-top: 0;
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--title-text-color);
}

.feature__p {
	margin-top: 0;
	margin-bottom: 0;
}



/**
  |cmmb============================
  | What are we doing - Чим ми займаємося
  |============================
*/

.work__wrap{
	position: relative;

}

.work__label {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 370px;
	height: 70px;

	background: var(--bg-absolut-work);

}

.work__title {

	margin-top: 0;
	margin-bottom: 0;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	text-align: center;

	color: var(--wite-color);
}


/*===============================
		Our team - Наша команда
=================================*/

.team {
	background-color: var(--secondery-bg-color);
}


.team__member {
	background-color: var(--primary-bg-color);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__wrap {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team__title {
	margin-top: 0;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
	text-align: center;

	color: var(--title-text-color);

}

.team__profession {
	margin-top: 0;
	margin-bottom: 16px;

	font-size: 16px;
	line-height: 1.9;
	text-align: center;
}


/**
  |cmmb============================
  |  social link  Посилання на соц. мережі
  |============================
*/


.social__list {
	display: flex;
	justify-content: space-between;

	padding-left: 32px;
	padding-right: 32px;

}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;

	text-decoration: none;
	border: none;
	cursor: pointer;


	color: var(--icon-svg);
	border-radius: 50%;

	transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function) ;

}

.social__link:hover,
.social__link:focus {
	background-color: var(--accent-text-color);
	color: var(--wite-color);
	/* outline: none; */
}

.social__icon {
	width: 20px;
	height: 20px;

	fill: currentColor;
}

/*===============================
		Regular clients
=================================*/


.client__list {
	display: flex;
	justify-content: space-between;
}

.client__link {
	width: 170px;
	height: 92px;

	display: flex;
	align-items: center;
	justify-content: center;

	fill: var(--icon-svg);
	border: 1px solid var(--icon-svg);
	border-radius: 4px;
	cursor: pointer;

	transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function), border var(--timing-function) ;
}

.client__link:hover,
.client__link:focus {
	fill: var(--accent-text-color);
	border: 2px solid var(--accent-text-color);
	outline: transparent;
}

.client__icon {
	width: 106px;
	height: 60px;
}

/*===============================
		Footer 
=================================*/

.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--accent-bg-color);
	

}

.footer__container {
	display: flex;
	justify-content: flex-start;
}

.address {
	margin-bottom: 9px;
	font-style: normal;
	color: var(--wite-color);
}

.contact__list--footer{
	display: block;
}

.contact__email--footer,
.contact__phone--footer {
	justify-content: flex-start;
	padding: 0;
	font-weight: 400;
	line-height: 1.71;

	color: var(--contact-link-color);
}

.contact__email--footer {
	margin-bottom: 9px;
}


.footer__title {
	color: var(--wite-color);
}


/*===============================
		Join in
=================================*/



.footer__social-wrap {
	margin-left: 70px;
}

.social__list--footer {
	display: flex;
	justify-content: space-between;
}

.social__link--footer {
	margin-right: 10px;

	color: var(--wite-color);
	background-color: var(--icon-bg);

}

/**
  |cmmb============================
  | Form in foorer
  |============================
*/

.footer__form-wrap{
	margin-left: 93px;

}


.subscription {


	display: flex;
	gap: 12px;
}


.subscription__label {
	font-size: 16px;
	line-height: 1.25;


	display: flex;
	align-items: center;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);


}



.subscription__input {
	padding: 15px;
	min-width: 358px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: var(--primary-bg-color);
	outline: transparent;

	transition: border-color var(--timing-function);

}

.subscription__input:focus {
	border-color: var(--accent-text-color);
}


.subscription__button {
	padding: 10px 28px;


	display: flex;
	align-items: center;
	text-align: center;
	gap: 10px;


	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;


	letter-spacing: 0.06em;

	border: 0;

	fill: var(--primary-bg-color);
	
}





/*===============================
		Portfolio
=================================*/


/* <!-- filter  фільтрація по прикладам робіт--> */

.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 65px;
}

.filter .filter__item + .filter__item {
	margin-left: 8px;
}

.filter__button {
	display: block;
	padding: 6px 22px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	
	color: var(--title-text-color);
	background-color: var(--secondery-bg-color);
	border: 0;
	border-radius: 4px;

	transition: color var(--timing-function), background-color var(--timing-function), box-shadow  var(--timing-function) ;

}

.filter__button:hover,
.filter__button:focus {
	color: var(--wite-color);
	background-color: var(--accent-text-color);
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--active{
	color: var(--wite-color);
	background-color: var(--accent-text-color);
}



	/* <!-- example Приклади робіт --> */

.example__list {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.example__item {
	width: 370px;
	margin: 15px;
}

.example__link{
	display: block;

	transition: box-shadow var(--timing-function);
}

.example__link:hover,
.example__link:focus {
	outline: transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.example__note {
	padding: 20px 24px;

	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.example__title {
	margin-top: 0;
	margin-bottom: 4px;

	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--title-text-color);

}

.example__p {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 16px;
	line-height: 1.88;
}


.example__link:hover .example__ticket ,
.example__link:focus .example__ticket {
	outline: transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	opacity:1;
	transform: translateY(0%);

}

.example__wrap {
	position: relative;
	overflow: hidden;
	
}

.example__ticket {
	position: absolute;
	top: 0;
	bottom: 0;

	content: "";

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	
	background: var(--bg-absolut-exempel);
		
	transform: translateY(100%);

	transition: transform var(--timing-function);
	
}

.example__comment {
	position: absolute;

	margin-top: 0;
	margin-bottom: 0;
	padding-left: 24px;
	padding-right: 24px;
	
}

.example__ticket .example__comment {
	
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: var(--wite-color);
	
}








/**
  |============================
  | modal -Модальне вікно
  |============================
*/

.backdrop {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--modal-bg);

	transition:opacity var(--timing-function);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	
} 


.modal {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
		
	min-width: 528px;
	min-height: 581px;
	padding: 40px;

	background-color: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

}
/*  Button to close the modal window ---  Кнопка закриття модального вікна */
.button-close {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	text-decoration: none;
	border: none;
	cursor: pointer;

	color: var(--black-color);
	background-color: var(--primary-bg-color) ;
	border: 1px solid var(--modal-border);
	border-radius: 50%;

}

.button-close__icon{
	width: 11px;
	height: 11px;
	fill: currentColor;
}

.button-close:hover,
.button-close:focus {
	color: var(--accent-text-color);
}




/**
  |============================
  | register form 
  |============================
*/



.register__title{
	display: block;
	margin-bottom: 12px;

	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--title-text-color);	
}





.register__group {
	margin-bottom: 20px;
}

.register__wrap  {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 4px;
}

.register__wrap:not(:last-child) {
	margin-bottom: 10px;
}

.register__label {
	font-size: 12px;
	text-align: start;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #757575;
}

.register__field {
	height: 40px;
	padding: 12px 42px;

	font-size: 14px;
	line-height: 16px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;

	transition: border-color var(--timing-function);
}

.register__field:focus {
	border-color: var(--accent-text-color);
}

.register__icon{
	position: absolute;
	bottom: 11px;
	left: 12px;

	fill: var(--title-text-color);
	transition: fill var(--timing-function);
	

}

.register__field:focus + .register__icon {
	fill: var(--accent-text-color);

}

.register__message {
	height: 120px;
	padding: 12px 16px;

	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #303030;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;
	resize: none;

	transition: border-color var(--timing-function);
}

.register__message:focus {
	border-color: var(--accent-text-color);
}

.register__message::placeholder {
	color: var(--placeholder-color);
}


/* agreement with the terms of the contract --- погодження з умовами договору  */

.agreement {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	margin-bottom: 30px;
}

.agreement__checkbox:focus + .agreement__icon {
	outline: 2px solid var(--accent-text-color);
	outline-offset: 1px;
	border-radius: 2px;
}

.agreement__icon--uncheck{
	transition: opacity var(--timing-function);
}

.agreement__checkbox:checked + .agreement__icon > .agreement__icon--uncheck {
	opacity: 0;
}

.agreement__icon--check {
	opacity: 0;
	fill: var(--accent-text-color);

	transition: opacity var(--timing-function);
}

.agreement__checkbox:checked + .agreement__icon > .agreement__icon--check {
	opacity: 1;
}

.agreement__text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);

	user-select: none;
}

.agreement__link {
	color: var(--accent-text-color);
	text-decoration: underline;
	text-underline-position: under;
	
}

.agreement__button  {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;

	padding-left: 52px;
	padding-right: 52px;

	margin-left: auto;
	margin-right: auto;
}