/**
  |cmmb============================
  | logo 
  |============================
*/

.logo {
	display: inline-block;

	font-family: var(--secondary-font), cursive;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: inherit;

	color: var(--black-color);

		@include mq(not-desk) {
		font-size: 24px;
		line-height: 1.17;

		}



		&__accent {
			color: var(--accent-text-color);
}

		&__footer {
			margin-bottom: 20px;

			color: var(--wite-color);
}

}

//  end  --- logo   ---- end