/**
  |cmmb============================
  |  subscription  Form in foorer
  |============================
*/

.footer__form-wrap{
	margin-left: 93px;
	// max-width: 450px;
	// width: 100%;
	

		@include mq(not-desk) {
		margin-left: 0;
		}

}


.subscription {
	display: flex;
	gap: 12px;



		@include mq(not-desk) {
		justify-content: center;
		flex-wrap:wrap;
		gap: 20px;

		&__label {
			font-size: 16px;
			line-height: 1.25;


			// display: flex;
			// align-items: center;
			// letter-spacing: 0.03em;

			color: rgba(255, 255, 255, 0.6);
		}


}

}




.subscription__input {
	padding: 15px;
	// max-width: 450px;
	// width: 100%;
	

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: var(--primary-bg-color);
	outline: transparent;

	transition: border-color var(--timing-function);

		&:focus {
			border-color: var(--accent-text-color);
}

}

.subscription__button {
	padding: 10px 28px;


	display: flex;
	align-items: center;
	text-align: center;
	gap: 10px;


	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;


	letter-spacing: 0.06em;

	border: 0;

	fill: var(--primary-bg-color);
	
}

//  end --- subscription  Form in foorer --- end
