/**
  |cmmb============================
  |  global parameters --- глобальні параметри
  |============================
*/

body {
	font-family: var(--main-font);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
}


.section {
	padding-top: 94px;
	padding-bottom: 94px;

	&__title {
		margin-top: 0;
		margin-bottom: 50px;

		font-size: 36px;
		line-height: 1.17;
		text-align: center;

		color: var(--title-text-color);

	@include mq(not-desk) {
		font-size: 28px;
		line-height: 1.17;

		}

}

}



/*========================================
		main titles основні заголовки 
==========================================*/


// повиносити в окремі блоки

.section_list {
	display: flex;
	justify-content: space-between;
	
}




/*end  ---global parameters --- глобальні параметри ---- end */