/**
  |============================
  | register form 
  |============================
*/



.register__title{
	display: block;
	margin-bottom: 12px;

	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--title-text-color);	
}


.register__group {
	margin-bottom: 20px;
}


.register__label {
	font-size: 12px;
	text-align: start;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #757575;
}

.register__icon{
	position: absolute;
	bottom: 11px;
	left: 12px;

	fill: var(--title-text-color);
	transition: fill var(--timing-function);
	

}

.register__wrap  {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 4px;

	&:not(:last-child) {
	margin-bottom: 10px;
}

}

.register__field {
	height: 40px;
	padding: 12px 42px;

	font-size: 14px;
	line-height: 16px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;

	transition: border-color var(--timing-function);

		&:focus {
			border-color: var(--accent-text-color);
}

		&:focus + .register__icon {
			fill: var(--accent-text-color);
}

}


.register__message {
	height: 120px;
	padding: 12px 16px;

	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;
	color: #303030;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: transparent;
	resize: none;

	transition: border-color var(--timing-function);

		&:focus {
			border-color: var(--accent-text-color);
}

		&::placeholder {
			color: var(--placeholder-color);
}

}

// end --- register form  ---end