/*  Global variables --- Глобальні змінні */
:root {
	  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

	
	/* Text colors */
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-text-color: #2196f3;
	--contact-link-color: rgba(255, 255, 255, 0.6);
	--wite-color: #ffffff;
	--black-color: #000000;

	/* background-color*/
	--primary-bg-color: #ffffff;
	--secondery-bg-color: #f5f4f4;
	--third-bg-color : #f5f4fa;
	--accent-bg-color: #2f303a;
	--icon-bg: rgba(255, 255, 255, 0.1);
	--modal-bg: rgba(0, 0, 0, 0.2);
	--bg-absolut-work:rgba(47, 48, 58, 0.8);
	--bg-absolut-exempel:rgba(33, 150, 243, 0.9);

	/* animation */
	--timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	/* other */
	--icon-svg: #afb1b8;
	--border-color: #eeeeee;
	--modal-border:rgba(0, 0, 0, 0.1);
	--placeholder-color: rgba(117, 117, 117, 0.5);;

     /* Grid */	
}


/*end ---  Global variables --- Глобальні змінні ---   end */