/*===============================
		Regular clients
=================================*/
.client{
	  @include section;

	&__list {
		display: flex;
		flex-wrap:wrap;
		gap: 30px;

		justify-content: center;

	





	}

	&__link {
		width: 210px;
		height: 92px;
		justify-content: center;


	@include mq(mob) {
        width: 210px;
		
    }
    @include mq(tab) {
        width: 226px;
		
    }
    @include mq(desk) {
        width: 170px;
		
    }





		display: flex;
				align-items: center;
		justify-content: center;

		fill: var(--icon-svg);
		border: 1px solid var(--icon-svg);
		border-radius: 4px;
		cursor: pointer;

		transition: color var(--timing-function), fill var(--timing-function), background-color var(--timing-function), border var(--timing-function) ;

			&:hover,
			&:focus {
				fill: var(--accent-text-color);
				border: 2px solid var(--accent-text-color);
				outline: transparent;
	}

	}

	&__icon {
		width: 106px;
		height: 60px;
	}

}



// end --- Regular clients --- end