/**
  |cmmb============================
  | contact ( email and phone )
  |============================
*/

.contact {
	margin-left: auto;
}

.contact__list {
	display: flex;
	font-weight: 500;
	letter-spacing: 0.02em;

	& .contact__item + .contact__item{
		margin-left: 50px;
}


}


.contact__data {
	display: flex;
	justify-content: center;
	align-items: center;



	@include mq(not-desk) {
		font-size: 12px;
		line-height: 1.16;

}

	padding-top: 24px;
	padding-bottom: 24px;
	

	text-decoration: inherit;

	fill: var(--primary-text-color);
	color: var(--primary-text-color);


	transition: color var(--timing-function), fill var(--timing-function);

		&:hover,
		&:focus {
			color: var(--accent-text-color);
			fill: var(--accent-text-color);
}

}

.contact__email-icon{
	width: 16px;
	height: 12px;
	margin-right: 10px;
}

.contact__phone-icon{
	width: 10px;
	height: 16px;
	margin-right: 10px;
}




// --- contact in footer  ---- 

.address {
	margin-bottom: 9px;
	font-style: normal;
	color: var(--wite-color);
}

.contact__list--footer{
	display: block;
}

.contact__data--footer {
	justify-content: flex-start;
	padding: 0;
	margin-bottom: 9px; 
	font-weight: 400;
	line-height: 1.71;

	color: var(--contact-link-color);
	
}






// end  --- contact  ---- end