/**
  |cmmb============================
  | contact ( email and phone )
  |============================
*/

.contact {
	margin-left: auto;

	
}

.contact__list {
	display: flex;
	font-weight: 500;
	letter-spacing: 0.02em;
	padding-top: 24px;
	padding-bottom: 24px;

	@include mq(mob-only) {
		display: none;
	
}

		@include mq(tab-only) {
		
		flex-wrap: wrap;
		
		gap: 10px;
		width: 150px;

		padding-top: 20px;
		padding-bottom: 20px;
	
}



	& .contact__item + .contact__item{
		margin-left: 50px;
		
	@include mq(tab-only) {
		margin-left: 0;
	
}

}

}	

.contact__data {
	display: flex;
	justify-content: center;
	align-items: center;



	@include mq(not-desk) {
		font-size: 12px;
		line-height: 1.16;

}



	text-decoration: inherit;

	fill: var(--primary-text-color);
	color: var(--primary-text-color);


	transition: color var(--timing-function), fill var(--timing-function);

		&:hover,
		&:focus {
			color: var(--accent-text-color);
			fill: var(--accent-text-color);
}

}

.contact__email-icon{
	width: 16px;
	height: 12px;
	margin-right: 10px;

		@include mq(not-desk) {
			width: 14px;
			height: 10px;
}
}

.contact__phone-icon{
	width: 10px;
	height: 16px;
	margin-right: 10px;

		@include mq(not-desk) {
			width: 10px;
			height: 14px;
}
}




// --- contact in footer  ---- 

.address {
	margin-bottom: 9px;
	font-style: normal;
	color: var(--wite-color);
}

.contact__list--footer{
	display: block;
}

.contact__data--footer {
	justify-content: flex-start;
	padding: 0;
	margin-bottom: 9px; 
	font-weight: 400;
	line-height: 1.71;

	color: var(--contact-link-color);
	
}






// end  --- contact  ---- end