/*=====================
		HERO 
======================*/
.hero {
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;

	
	text-align: center;

	background-color: var(--accent-bg-color);



		&__overlay {
			// max-width: 480px;
			max-width: 768px;
			height: 600px;


			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;






		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		 url(../images/hero_bg@1x_mob.jpg);

		@include mq(retina) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero_bg@2x_mob.jpg);
		}
		

		@include mq(tab) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero_bg@1x_tab.jpg);
		max-width: 1600px;
		
		@include mq(retina) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero_bg@2x_tab.jpg);
		}
		}


		@include mq(desk) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero_bg@1x_tab.jpg);
		max-width: 1600px;

		@include mq(retina) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/hero_bg@2x_tab.jpg);
		}
		}



				
}

		&__title {
			width: 694px;
			margin-top: 0;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 30px;

			font-weight: 900;

			font-size: 44px;
			line-height: 1.36;


			letter-spacing: 0.06em;
			text-transform: uppercase;

			color: var(--wite-color);



		
		@include mq(not-desk) {
			width: 360px;
   		}



		@include mq(not-desk) {
		font-size: 26px;
		line-height: 1.62;

		}


}
}

//  end  --- hero --- end